@charset 'utf-8';

html {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}
body {
	overflow-x: hidden;
	color: rgb(29, 29, 31);
	letter-spacing: -0.05em;
	background: white;
}
p {
	line-height: 1.6;
}
a {
	color: rgb(29, 29, 31);
	text-decoration: none;
}

body.before-load{overflow: hidden;}
header{height:100vh;}
.container {overflow-x: hidden;}

.local-nav {
    position: absolute;
	/* top: 45px; */
    bottom:0;
	left: 0;
	z-index: 11;
	width: 100%;
	height: 52px;
	padding: 0 1rem;
    background-color:rgba(255,255,255,0.7;);
	-webkit-backdrop-filter: saturate(180%) blur(15px);
	-moz-backdrop-filter: saturate(180%) blur(15px);
	-o-backdrop-filter: saturate(180%) blur(15px);
	backdrop-filter: saturate(180%) blur(15px);}
.local-nav-sticky .local-nav {
	position: fixed;
	top: 0;
	background: rgba(255, 255, 255, 0.1);
	/* for iPhone */
	-webkit-backdrop-filter: saturate(180%) blur(15px);
	-moz-backdrop-filter: saturate(180%) blur(15px);
	-o-backdrop-filter: saturate(180%) blur(15px);
	backdrop-filter: saturate(180%) blur(15px);
}
.local-nav-sticky .local-nav a div{display:none;}
.global-nav-links,
.local-nav-links {
	display: flex;
	align-items: center;
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.global-nav-links{justify-content: space-between;}
.local-nav-links .product-name {
    margin-right: auto;
	font-size: 1.4rem;
	font-weight: bold;
}
.local-nav-links a {
	font-size: 0.8rem;
}
.local-nav-links a:not(.product-name) {
	margin-left: 2em;
}
.scroll-section{position:relative; 	padding-top:50vh;}
.cover {position:absolute; top:0; left:0; z-index:2; width:100%; height:100%;}

.tv {display:grid; justify-content:center; position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 100%; overflow: hidden;}

.sticky-elem {display: none; position: fixed; left: 0; width: 100%;}
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem { display: block; will-change: transform, opacity;}


#scroll-section-0{background:#c7c6bb;}
#scroll-section-1{background:#879d9f;}
#scroll-section-2{background:#709295;}
#scroll-section-3{background:#b9b9c5;}
#scroll-section-4{background:#edece2;}
#scroll-section-5{background:#879d9f;}

#scroll-section-1 .content{}

.modal-popup{display:none; position:fixed; top:0; width:100%; height:100%; z-index: 10;}
.modal-popup .content{position:absolute; width:50%; height:50%; margin:25%; padding:1em; background:#fff; overflow-y:scroll; font-size:1.2em; z-index:30}
.modal-popup .backdrop{position: absolute; width:100%; height:100%; background:rgba(0,0,0,0.6);z-index:20;}
.modal-popup.show-modal{display:block;}


.section-history .tit{top:20%; text-align:center; opacity:0;}
.section-history .sub_menu{opacity:0; top:80%}
.section-history .sub_menu li{display:inline-block; width:20%;}

.slides{top:0;}
.slides-scroll-wrap{position: absolute;}
.slide{float:left; height:100%; background:#eee;}
.slide:nth-child(1){background:#ccc;}



.map-frame{position:relative; width:100%; height:100%; overflow-x:scroll;}
.map-frame .map{position:absolute; height:100%;}
.map-frame #map1{background-image:url('../images/map1.png'); background-repeat: no-repeat; background-size:contain;}
.map-frame #map2{background-image:url('../images/map2.png'); background-repeat: no-repeat; background-size:contain;}
.map .spot{position: absolute; width:15px; height:15px; background:rgba(255,255,255,0.5); border-radius: 50%; opacity:0;}
.map .spot{position: absolute; width:15px; height:15px; background:rgba(255,255,255,0.5); border-radius: 50%; opacity:0;}
.map .spot .label{display:none;}
.map .spot.show-label .label{display:block;}

.section-church .slides{height:100%;}
.section-church .btn-slide{position: absolute; top:48%;}
.section-church .btn-slide.prev{left:3%;}
.section-church .btn-slide.next{right:3%;}